body {
  background-color: #aad4cf;
  max-width: 1025px;
  margin: 0 auto;
  font-family:sans-serif;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  display: inline-block;
}

.container .centered {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  width: 60%;
  font-size: 1.5em;
}

main {
  background-color: #ceeae7;
  padding: 5px;
  border: 1px;
}

/* Navigation Bar */

.topnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.topnav li {
  display: inline-block;
  border-right: 1px solid #bbb;
}

.topnav ul :last-child {
  border-right: none;
}

.topnav a {
  text-decoration: none;
  color: black;
  width: 200px;
  display: block;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center   ;
}

.article {
  width: 1000px;
  margin: 0 auto;
}

.image2 {
  width: 150px;
  float: left;
  padding: 10px;
  border: 2px;
}

/* Form styling */

.form {
  border: 1px solid black;
  padding: 10px;
}

input [text=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  resize: vertical
}

#name, #email{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 6px;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Button Styling */
.button {
  background-color: #ceeae7;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  padding: 10px 24px;
}

footer {
  text-align: right;
  padding: 20px;
}