/* Global Styles */

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

*,
*:after *:before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

button:active {
    transform: translateY(1px);
}

/* LoVe HAte - Link, Visited, Hover/Focus, Active */
a,
a:link,
a:visited {
    color: inherit;
}

a:hover,
a:focus {
    color: #c78c06;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    padding: 10px;
}

h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

/* Top-bottom left-right */
p {
    margin: 1em 0;
    padding: 10px;
}


/**************************
    Mobile Site Styles
**************************/

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

/* .width {
    width: 100%;
} */

/* Style the heading */
.navbar {
    list-style: none;
    text-align: center;
    background-color: black;
    padding: 20px;
}

.logo {
    display: flex;
}

.headlogo {
    background-color: #c78c06;
}

/* Style the navigation */
.nav-list a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #c78c06;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
    background-color: #c78c06;
    color: black;
}

/* Style the search container */
.search-container {
    display: flex;
    align-items: center;
}


/* Style the search input */
.search-container input[type="text"] {
    width: 100%;
    padding: 12px;
    border: none;
    box-sizing: border-box;
}

/* Style the search button */
#search-button {
    padding: 12px;
    color: #c78c06;
    border: 5px #c78c06;
    background-color: transparent;
    border: 1px solid #c78c06;
}

/* Main Content Styles */
.main-banner {
    background: url(../images/main-banner.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.transbox {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.connect-btn {
    background-color: #c78c06;
    padding: 30px;
    font-size: 20px;
    margin: 10px;
    border: none;
}

/* About us section */

.about-us {
    padding: 10px 0;
    background-color: #ffe6ac;
}

.about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Our services */

.services {
    background-color: white;
    padding: 10px;
}

/* Add background color to services */
.digital,
.marketing,
.video,
.web,
.print {
    background-color: #ffe6ac;
}

/* Styles the images */
.digital img,
.marketing img,
.video img,
.web img,
.print img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles the button */
.digital-btn,
.marketing-btn,
.video-btn,
.web-btn,
.print-btn {
    background-color: #222;
    border: none;
    color: white;
    padding: 40px;
    font-size: 20px;
    margin: 10px;
}

/* Our vision */
.vision {
    background: url(../images/vision.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    color: white;
}

.vision .learn-btn {
    background-color: #101D30;
    border-color: #c78c06;
    color: white;
    padding: 40px;
    font-size: 20px;
    margin: 10px;
}

/* Our Team */
.team {
    background-color: white;
    padding: 10px;
}

.john,
.bob {
    background-color: #ffe6ac;
}

.john img,
.bob img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    border: 1px solid #c78c06;
    width: 97%;
}

/* Style the form */
input [text=text],
textarea {
    width: 100%;
    padding: 50px;
    border: 1px solid black;
    box-sizing: border-box;
}

#name,
#email {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.button {
    background-color: black;
    color: #c78c06;
    text-align: center;
    text-decoration: none;
    padding: 8px;
}

/* Style the table (Hours of operation) */

.table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
}

th {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffe6ac;
}

td {
    padding: 10px;
}

/* Footer Styles */
.site-footer {
    background-color: black;
    color: #c78c06;
}

/**************************
    Desktop Site Styles
**************************/

@media screen and (min-width: 760px) {

    /* Navigation Bar */
    .main-nav {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .nav-list {
        display: flex;
        flex: 1;
    }

    li {
        display: inline;
        margin: 20px 20px;
        flex: 1;
    }

    /* Center the contents */
    .main-nav,
    .transbox,
    .about-content,
    .services-text,
    .vision-text,
    .team-text,
    .contact-text,
    .footer-text {
        margin: 0 auto;
        width: 90%;
    }

    /* About us section with 2 columns */
    .about-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Our services, use grid box to create layout */
    .services-box {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "digital digital digital marketing marketing marketing"
            "video video web web print print";
        gap: 5px;
        justify-content: center;
    }

    .digital {
        grid-area: digital;
    }

    .marketing {
        grid-area: marketing;
    }

    .video {
        grid-area: video;
    }

    .web {
        grid-area: web;
    }

    .print {
        grid-area: print;
    }

    .services-box img {
        width: 100%;
        height: auto;
    }

    .services-box button {
        width: 90%;
        margin: 0 auto;
        display: table;
        margin-bottom: 10px;
    }

    /* Our team, use the flexbox to create layout */

    .team-box {
        display: flex;
    }

    .john,
    .bob {
        width: calc(100%);
        display: flex;
    }

    .john-img,
    .bob-img {
        max-width: 50%;
    }

    .bob {
        flex-direction: row-reverse;
    }

    /* Contact us, reorder the container */
    .contact-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "message location"
            "hours hours";
        gap: 10px;
        width: 100%;
    }

    .message {
        grid-area: message;
    }

    .location {
        grid-area: location;
    }

    .hours {
        grid-area: hours;
    }
}